vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Mar 2021 14:22:58 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|DESKTOP-V5FBG2U\\Goof
vti_modifiedby:SR|DESKTOP-V5FBG2U\\Goof
vti_timecreated:TR|12 Mar 2020 19:07:55 -0000
vti_backlinkinfo:VX|Ronde3.html Ronde2.html index.htm Ronde1.html ClubInfo.html Kvk.html Bestuur.html Schema.html Statuten.html Ronde4.html Ronde5.html Ronde6.html
vti_nexttolasttimemodified:TW|12 Mar 2020 19:07:55 -0000
vti_cacheddtm:TX|08 Mar 2021 14:22:58 -0000
vti_filesize:IR|5827
vti_cachedlinkinfo:VX|S|../images/playing-cards-header.jpg S|../images/pencil.png S|../images/li.png
vti_cachedsvcrellinks:VX|FSUS|images/playing-cards-header.jpg FSUS|images/pencil.png FSUS|images/li.png
